<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/nav") %>

    <div class="container mt-3">
        <div class="card mx-auto mt-5 text-center" style="width: 50rem;">
            <img src="../../static/images/images (1)-1681152290069.jpg" class="card-img-top mx-auto border rounded-5" style="width: 18rem;" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      
      </div>
    
  </body>
</html>
