<style>
  .footer{
    width: 100%;
    height: auto;
    background-color:#198754;
   padding: 20px;

   bottom: 0px;
    text-align: center;
  }
  .footer-p{
    color: white;
    font-size: 20px;
  }
  .footer-p a{
    color: rgb(0, 166, 255);
    font-size: 20px;
  }
</style>
<footer class="footer ">
  <div class="sol">
 <p class="footer-p ">  Made by With <a href="https://github.com/yuce-haydar"> Yuce-Haydar</a></p>
  </div>
</footer>
